.app-signin {
    display: flex;
    flex-direction: column;
    margin-top: 10em;
    height: 100vh;
    align-items: center;
    background-color: #191c28;
}

.user-login, .user-password {
    width: 200px;
    height: 30px;
    padding-left: 7px;
}

.login-container, .password-container {
    display: flex;
    padding-bottom: 30px;
}

.login-title, .password-title {
    display: flex;
    align-items: center;
    width: 150px;
    font-size: 14px;
    color: #bbc2ce;
}

.signin-button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 13px 25px;
    border-radius: 10px;
    background-color: #d43053;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

.signin-title {
    margin-top: 40px;
    font-size: 28px;
    color: white;
}

.signin-tags {
    display: flex;
}

.signin-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    padding: 0 10px;
    width: 120px;
    height: 51px;
    font-size: 14px;
    font-weight: 600;
    background-color: #242835;
    color: #bbc2ce;
    border-radius: 10px;
    cursor: pointer;
}

.signin-navbar-select {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    padding: 0 10px;
    width: 120px;
    height: 51px;
    font-size: 14px;
    font-weight: 600;
    background-color: #46506c;
    color: #bbc2ce;
    border-radius: 10px;
    cursor: pointer;
}

.signin-navbar-select::after {
    content: '';
    position: absolute;
    top: 60px;
    width: 140px;
    height: 2px;
    background-color: #d43053;
}

.signin-navbar:hover {
    background-color: #46506c;
}

.signin-error {
    height: 30px;
    color: #d43053;
    font-size: 14px;
}

.signin-login {
    margin: 30px;
    font-size: 28px;
    color: white;
}