.film-card {
    margin: 0 auto;
    padding-top: 60px;
    width: 65%;
    background-color: #191c28;
}

.film-body {
    display: flex;
}

.film-subbody {
    font-size: 15px;
}

.film-picture {
    padding-right: 60px;
    width: 320px;
    height: 420px;
}

.film-title {
    position: relative;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 600;
    color: #bbc2ce;
}

.film-description {
    padding-bottom: 80px;
    font-size: 15px;
    color: #bbc2ce;
}

.col {
    display: flex;
    margin-top: 20px;
}

.col-name {
    width: 25%;
    color: #bbc2ce;
}

.col-description {
    width: 60%;
    color: #bbc2ce;
}

.film-save {
    position: relative;
    left: 65px;
    margin-top: 20px;
    width: 150px;
    height: 42px;
    border-radius: 10px;
    background-color: #d43053;
    font-size: 14px;
    color: white;
    cursor: pointer;
    border: none;
}

.film-save-add {
    position: relative;
    left: 65px;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
    background-color: #74a42b;
    color: white;
    border: none;
}

.film-age {
    font-size: 12px;
    background: black;
    border-radius: 5px;
    padding: 4px 6px;
    position: absolute;
    top: 13px;
    margin-left: 10px;
}

.film-video {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
