.film-card {
    margin: 0 auto;
    padding-top: 60px;
    width: 70%;
    background-color: #191c28;
}

.film-body {
    display: flex;
}

.film-picture {
    padding-right: 60px;
    width: 250px;
    height: 350px;
}

.film-title {
    position: relative;
    margin-bottom: 30px;
    font-size: 30px;
    color: #bbc2ce;
}

.film-description {
    padding: 50px 0;
    font-size: 15px;
    color: #bbc2ce;
}

.col {
    display: flex;
    margin-top: 20px;
}

.col-name {
    width: 25%;
    color: #bbc2ce;
}

.col-description {
    width: 60%;
    color: #bbc2ce;
}

.film-save {
    position: relative;
    left: 50px;
    margin-top: 20px;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background-color: #d43053;
    color: white;
    cursor: pointer;
    border: none;
}

.film-save-add {
    position: relative;
    left: 50px;
    margin-top: 20px;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background-color: #74a42b;
    color: white;
    border: none;
}

.film-age {
    font-size: 12px;
    background: black;
    border-radius: 5px;
    padding: 4px 6px;
    position: absolute;
    top: 13px;
    margin-left: 10px;
}
