.navbar {
    width: 82%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #191c28;
}

.navbar-main{
    margin-left: 16px;
}

.navbar-new, .navbar-popular, .navbar-top, .navbar-main  {
    margin-right: 50px;
    text-decoration: none;
    color: #bbc2ce;
    list-style-type: none;
    cursor: pointer;
}

.navbar-save {
    width: 30px;
    height: 30px;
    margin-right: 30px;
    text-decoration: none;
    color: #bbc2ce;
    list-style-type: none;
    cursor: pointer;
    background: url(../../img/like.svg) no-repeat;
}

.sign-in {
    display: flex;
    margin-right: 16px;
    justify-content: center;
    padding-top: 6px;
    width: 100px;
    height: 32px;
    border-radius: 10px;
    background-color: #d43053;
    color: white;
    cursor: pointer;
    border: none;
}

.navbar-user {
    display: flex;
    align-items: center;
}