.films-card{
    position: relative;
    width: 13.66%;
    height: auto;
    margin: 0 1.5%;
    margin-bottom: 4em;
}
.film-img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.films-card:hover{
    opacity: 0.6;
    transform: scale(1.1);
}

.films-card:hover::after{
    position: absolute;
    content: '';
    display: block;
    top: calc(50% - 37px);
    left: calc(50% - 12px);
    height: 25px;
    width: 25px;
    background: url(../../img/play.svg);
    cursor: pointer;
}

.film-name {
    font-size: 15px;
    color: #bbc2ce;
}

.film-rating {
    position: absolute;
    top: -10px;
    left: calc(50% - 19px);
    width: 38px;
    height: 24px;
    background-color: #fec436;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 1024px) {
    .film-name {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .films-card{
        width: 172px;
        height: 250px;
        margin: 0 3%;
        margin-bottom: 5em;
    }

    .film-img {
        width: 172px;
        height: 250px;
        border-radius: 4px;
    }
}