.films-card{
    position: relative;
    width: 13.66%;
    height: auto;
    margin: 0 1.5%;
    margin-bottom: 4em;
}
.film-img {
    width: 100%;
    height: 85%;
    border-radius: 4px;
}

.films-card:hover{
    opacity: 0.6;
    transform: scale(1.1);
}

.films-card:hover::after{
    position: absolute;
    content: '';
    display: block;
    top: 110px;
    left: 80px;
    height: 25px;
    width: 25px;
    background: url(../../img/play.svg);
    cursor: pointer;
}

.film-name {
    font-size: 15px;
    color: #bbc2ce;
}

.film-rating {
    position: absolute;
    top: -10px;
    left: 66px;
    width: 38px;
    height: 24px;
    background-color: #fec436;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}